In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'id':id}
result=pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   id
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [3]:
print("\n Extracting one column:\n")
print(result['Emp'])

 Extracting one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [6]:
print("\nDeleting one column:\n")
del result['id']
print(result)

Deleting one column:

       Emp
0   Parker
1     John
2    Smith
3  William

In [7]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
Name: 2, dtype: object

In [8]:
print("\nSlice rows:\n",result[1:3])

Slice rows:
      Emp
1   John
2  Smith

In [9]:
d2=pd.DataFrame([['Data',123],['Mark',143]],columns=['Emp','ID'])
print("\nAdding new row values:\n",result.append(d2))

Adding new row values:
        Emp     ID
0   Parker    NaN
1     John    NaN
2    Smith    NaN
3  William    NaN
0     Data  123.0
1     Mark  143.0

C:\Users\TCS\AppData\Local\Temp\ipykernel_15436\4111758244.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new row values:\n",result.append(d2))

In [10]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp
0   Parker
2    Smith
3  William